body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.faq-container {
  width: 65vw;
  height: 60vh;
  background-color: white;
  display: flex;
  border-radius: 20px;
  box-shadow: 3px 8px 20px #5f3dc4;
}

.faq-photo {
  width: 50%;
  background-image: url(images/illustration-woman-online-desktop.svg),
    url(images/bg-pattern-desktop.svg);
  background-position: right 60px center, right 80px top -350px;
  background-size: 60vh auto, 1200px auto;
  background-repeat: no-repeat;
  height: 100%;
}

.border {
  margin-right: 100px;
}

.q {
  cursor: pointer;
}

.q:hover {
  color: red;
  font-weight: 700;
}
.question{
  color: hsl(237, 12%, 33%)
}

.answer{
  color: hsl(240, 6%, 50%)
}
.title {
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 48px;
}
.q-container {
  border-bottom: 1px solid rgb(235, 235, 235);
  margin-right: 100px;
}
.faq-text {
  transform: translateY(-40px);
  overflow: hidden;
  margin-top: 80px;
  padding-left: 60px;
  width: 45%;
  font-size: 1rem;
  height: 80%;
}
.box {
  margin-top: 170px;
  transform: translateX(-95px);
  width: 250px;
  height: 250px;
}
.question {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.answer {
  display: none;
  padding-bottom: 10px;
}

.shadow,
.mobile-woman {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.move {
  transform: translateX(-130px);
}

/* -------------------media queries---------------------- */
@media only screen and (min-width: 374px) and (max-width: 1024px) {
  .faq-container {
    width: 85vw;
    height: 72vh;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-woman {
    display: block;
    transform: translateY(-530px);
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 110px;
  }
  .shadow {
    transform: translateY(-730px);
    display: block;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .box {
    opacity: 0;
  }
  .title {
    padding-top: 15px;
    text-align: center;
    font-size: 2em;
  }
  .faq-photo {
    background-image: none;
    width: 10%;
    height: 10%;
    margin-top: 0px;
    margin-bottom: 55px;
  }

  .faq-text {
    width: 70vw;
    margin-top: 0px;
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
    transform: translateY(5px);
  }

  .question {
    width: 70vw;
  }
  .faq-photo {
    width: 100%;
  }

  .q {
    font-size: 12px;
  }
  .answer {
    width: 63vw;
  }
  .q-container {
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  .move {
    transform: translateX(-142px);
  }
  .question {
    width: 100%;
  }
  .q-container {
    width: 380px;
  }
  .q {
    font-size: 18px;
  }
  .faq-photo {
    background-position: right 70px center, right 70px top -276px;
    background-size: 52vh auto, 1000px auto;
  }

  .box {
    margin-top: 239px;
    margin-left: 10px;
    margin-right: 500px;
    width: 180px;
    height: auto;
  }

  .faq-text {
    margin-top: 30px;
    padding-top: 0px;
    transform: translateY(70px);
    width: 50%;
    padding-left: 0px;
  }
  .faq-container {
    max-height: 95vh;
    height: 65vh;
  }
  .title {
    font-size: 36px;
    font-weight: 700;
  }

  .q {
    font-size: 15px;
    color:hsl(237, 12%, 33%);
  }

  .answer{
    font-size: 13px;
    color:hsl(240, 6%, 50%);
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1680px) {
  .box {
    margin-top: 310px;
    margin-left: 5px;
    margin-right: 550px;
    width: 200px;
    height: auto;
    transform: translateX(-115px);
  }

  .faq-photo {
    background-position: right 80px center, right 80px top -400px;
    background-size: 60vh auto, 1300px auto;
  }
  .faq-container {
    width: 70vw;
    height: 68vh;
  }
  .faq-text {
    margin-top: 0px;
    padding-top: 0px;
    transform: translateY(130px);
    width: 50%;
    padding-left: 0px;
  }
  .move {
    transform: translateX(-155px);
  }
}
@media only screen and (width:1366px) {
  .box{
    margin-top: 220px;
    transform: translateX(-100px);

  }
  .faq-container{
    height: 75vh;
  }

  .faq-photo {
    background-position: right 90px center, right 80px top -280px;
    background-size: 55vh auto, 1000px auto;
  }
  .move {
    transform: translateX(-145px);
  }
}

@media only screen and (min-width: 1920px) {
  .faq-container {
    height: 65vh;
  }

  .faq-text {
    margin-top: 130px;
  }
  .faq-photo {
    background-position: right 80px center, right 85px top -353px;
    background-size: 60vh auto, 1300px auto;
  }
  .box {
    margin-top: 281px;
    transform: translateX(-95px);
    width: 230px;
    height: auto;
    margin-left: -20px;
  }
  .move {
    transform: translateX(-140px);
  }
}